/*
Arcos 4259 Website Styles
Web Url: https://arcos4259.com.ar
Author: Julian Battaglino - Studio Krass
Author URI: https://studiokrass.com.ar
Description: Arcos 4259
License: ISC License (ISC)
*/

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sugo-pro-classic');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.bkg-concrete {
    background-image: url('./assets/img/concrete-wall-bkg.webp');
    background-position: center;
    background-size: contain;
}

/*Estilos Globales*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px !important;
}

.color-mustard {
    color: #c0b460;
}

.color-green-eco {
    color: #b5d1c0;
}

h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #233645;
    letter-spacing: 4px;
}

h2 {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #233645;
    text-align: left;
    letter-spacing: 4px;
}

h3.subtitle {
    font-family: 'Archivo', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #233645;
    text-align: left;
}

h3.margin-bottom {
    margin-bottom: 50px;
}

.mustard-subtitle {
    font-family: 'Archivo', sans-serif;
    color: #c0b460;
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2em;
}

.green-eco-subtitle {
    font-family: 'Archivo', sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2em;
}

p {
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    text-align: justify;
    line-height: 1.6em;
}

mark {
    background-color: #c0b460;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

main {
    padding: 110px 75px 75px 75px;
}

div.container-fluid {
    padding: 0 !important;
    margin: 0 !important
}

div.row {
    align-items: center;
}

div.items {
    align-items: flex-start !important;
}

a.btb.btn-dark {
    background-color: #233645 !important;
}

article {
    border-top: 1px solid #000;
    padding-top: 15px;
}

button.btn.btn-dark.download.brochure {
    margin: auto;
    display: block;
    margin-top: 100px;
}

/*Menu Tablet & Desktop*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 75px;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 999999;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
}

li.menu-item a {
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    color: #233645 !important;
    font-weight: 500;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}

li.menu-item a:hover {
    font-weight: bold;
}

nav a i.fa-brands.fa-instagram {
    color: #233645;
}

nav a i.fa-brands.fa-facebook {
    color: #233645;
    padding-left: 10px;
}


a i.fa-brands.fa-instagram:hover {
    font-weight: bold;
}


header img.logo {
    width: 75px;
    display: flex;
}

.floating-wsp:hover {
    opacity: 1;
}

.floating-wsp {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    position: fixed;
    bottom: 50px;
    right: 45px;
    z-index: 120;
    transition: all 0.6s cubic-bezier(0.68, 0.01, 0.22, 0.99);
}

/*Sections*/
section.anchor {
    padding: 50px 0;
}

div.section-container {
    padding: 40px 0 40px 0 !important;
}

div.img-flex-end {
    display: flex;
    justify-content: flex-end;
}

img.img-resize {
    width: 80% !important;
}


section.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    align-items: center;
    justify-content: center;
    grid-auto-flow: row;
    padding: 30px 0;
}

img.grid-item {
    width: 100%;
    height: 100%;
}

img.filter-item-img {
    width: 100%;
    margin: auto;
    display: block;
}

/*Background img*/
section.background-intro {
    background-image: url("assets/img/Renders/DGS-Arcos_Interior\ CAM001_00.webp");
    /* The image used */
    height: 80vh;
    background-position: bottom right;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

section.background-el-proyecto {
    background-image: url("assets/img/Renders/DGS-Arcos_Interior CAM002_00.webp");
    /* The image used */
    height: 75vh;
    background-position: bottom right;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

section.background-terraza {
    background-image: url("assets/img/Renders/DGS-Terraza\ CAM002-00.webp");
    height: 90vh;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 0 0 0;
}

section.background-tranquilidad {
    background-image: url("assets/img/Renders/DGS-Arcos_PBHall_00.webp");
    height: 90vh;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 40px 0;
}

/*Section Proyectos*/
div.img-container {
    display: flex;
    align-items: center;
}

img.urbanar-logo {
    width: 100%;
    padding-top: 30px;
}

/*Section Tranquilidad*/
img.secondary-icons {
    width: 50%;
    padding-top: 20px;
}

/*Section Ubicacion*/
iframe {
    width: 100%;

}

.location-icon-container {
    display: flex;
    align-items: center;
}

.location-text {
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #233645;
    text-align: left;
}

.location-icon {
    width: 75px;
    height: 75px;
}

@media (max-width: 768px) {
    .location-icon {
        width: 65px;
        height: 65px;
    }
}

/*Section Materiales*/
div#materiales {
    padding: 75px 75px !important;
}

/*Section Unidades*/
section#unidades {
    height: 100vh;
}

div.isotope-grid {
    padding: 50px 0;
}

div.filters.filter-button-group button.btn.btn-dark {
    display: inline-block;
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    font-weight: 500;
    background-color: #233645;
}

div.filters.filter-button-group button.btn.btn-dark:hover {
    background-color: #000000;
}

div.filters.filter-button-group button.btn.btn-dark:focus {
    background-color: #000000;
}


div.filters.filter-button-group ul {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-left: 0;
}

button.download {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    margin: auto;
    display: block;
}

img.slick-img {
    max-width: 60%;
    height: auto !important;
    margin: auto !important;
    display: block !important;
}

/*Section Proyecto*/
div#materiales {
    /*background-color: #FAFAFA;*/
}

/*Section Contacto*/
li.contact {
    list-style-type: none;
}

li.contact a {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    color: #233645;
}

.form-control:focus {
    border-color: #233645;
    box-shadow: 0 0 0 0.2rem #2336454a;
}

div.row-contact {
    align-items: flex-start;
}

.form-control {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}

button.form-btn {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
}

/*Footer*/
footer {
    background-color: #233645;
    padding: 50px;
    color: #fff;
    padding: 75px 75px 25px 75px;
}

footer img.logo {
    width: 75px;
    display: flex;
}

li.footer-item a {
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    color: #ffffff !important;
    font-weight: 600;
    padding: 0 10px;
    text-decoration: none;
}

i.footer-icon {
    padding-left: 15px;
}

footer i.fa-brands.fa-instagram {
    color: #ffffff !important;
    padding-left: 10px;
}

footer i.fa-brands.fa-facebook {
    color: #ffffff !important;
    padding-left: 10px;
}

li.copyrigth {
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
}

p.powered {
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 5px;
}

img.powered-logo {
    width: 20px;
    padding-top: 50px;
}


/**************** Media querie Mobile ****************/
@media (max-width: 767px) {
    html {
        scroll-padding-top: 375px !important;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3.subtitle {
        font-size: 16px;
        text-align: left;
    }

    h4.mustard {
        font-size: 16px;
    }

    .mustard-subtitle {
        font-size: 16px;
    }

    .green-eco-subtitle {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    main {
        padding: 0 10px !important;
    }

    header {
        display: none;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url(assets/img/hamburguer.png) !important;
    }

    li.menu-item a {
        display: none;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top {
        background-color: #ffffff !important;
        padding: 10px 10px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    }

    button.navbar-toggler {
        border: none !important;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

    a.navbar-brand img.logo {
        width: 50px;
        display: flex;
    }

    ul a.nav-link {
        font-family: 'Archivo', sans-serif;
        font-size: 16px;
        color: #233645 !important;
        font-weight: 500;
        text-decoration: none;
        padding: 15px 0;
    }

    ul a.nav-link:hover {
        text-decoration: underline;
    }

    section.home-grid {
        grid-template-columns: 1fr;
        padding: 30px 0;
    }

    nav a i.fa-brands.fa-facebook {
        padding-left: 0 !important;
    }

    /*Section Intro*/
    section.anchor {
        margin: 0px 0 40px 0;
    }

    div.intro {
        padding: 0px 10px 25px 10px;
    }

    img.img-resize {
        width: 100% !important;
    }


    /*Section Proyectos*/
    div.img-container {
        margin-bottom: 0;
    }


    /*Section Materiales*/
    div#materiales {
        padding: 25px 10px !important;
        margin: 0;

    }

    /*Section Ubicacion*/
    iframe {
        height: 40vh;
        width: 100%;
    }

    /*Pagina Unidades*/
    div.isotope-grid {
        padding: 50px 0;
    }

    div.filters.filter-button-group ul {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        padding-left: 0;
    }

    div.section-container {
        padding: 40px 0 40px 0 !important;
    }

    div.slick-slider {
        margin: 0 20px 0 20px;
    }

    img.slick-img {
        max-width: 100% !important;
    }

    /*Section Contacto*/
    form#contactForm {
        margin-top: 50px;
    }

    li.contact a {
        font-size: 12px;
        font-weight: 400;
    }

    section.background-tranquilidad {
        height: 35vh;
    }

    div.direction-row {
        align-items: center;
        flex-direction: row;
    }

    /*Footer*/
    div.footer-item {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }

    ul.footer {
        display: block;
        padding-left: 0;
        text-align: center;
    }

    div.footer-rrss {
        margin-top: 10px;
    }

    i.fa-brands.fa-instagram {
        padding-left: 0 !important;
    }

    i.fa-brands.fa-facebook {
        padding-left: 10px;
    }

    p.powered {
        text-align: center;
    }

    img.powered-logo {
        margin: auto;
        display: block;
    }

}

/**************** Media querie Tablets ****************/
@media (min-width: 767px) and (max-width: 1199px) {
    h1 {
        font-size: 32px;
    }

    h2.title {
        font-size: 32px;
    }

    p {
        font-size: 14px;
    }

    main {
        padding: 0px 10px 75px 10px;
    }

    section.home-grid {
        grid-template-columns: 1fr 1fr;
        padding: 30px 0;
    }

    header {
        padding: 15px 10px;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top {
        display: none;
    }

    div.filters.filter-button-group ul {
        display: none;
    }

    li.menu-item a {
        font-size: 12px;
    }

    /*Section Proyectos*/

    /*Section Ubicacion*/
    iframe {
        height: 30vh;
        width: 100%;
    }


    /*Section Materiales*/
    div#materiales {
        padding: 75px 10px !important;
        margin: 0 0;
    }

    /*Pagina Unidades*/
    div.isotope-grid {
        padding: 50px 0;
    }

    div.filters.filter-button-group ul {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        padding-left: 0;
    }

    f div.row.reverse {
        align-items: center;
    }

    div.slick-slider {
        margin: 0 20px 0 20px;
    }

    img.slick-img {
        max-width: 100% !important;
    }

    /*Footer*/
    div.footer-item {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }

    ul.footer {
        display: block;
        padding-left: 0;
        text-align: center;
    }

    i.fa-brands.fa-instagram {
        padding-left: 0 !important;
    }

    div.footer-rrss {
        margin-top: 10px;
    }

    p.powered {
        text-align: center;
    }

    img.powered-logo {
        margin: auto;
        display: block;
    }

}

@media (min-width: 1200px) {

    /*Disable Bootstrap Menu*/
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top {
        display: none;
    }
}

@media (min-width: 200px) and (max-width: 500px) {

    /*Background img*/
    section.background-intro {
        height: 35vh;
    }

    section.background-el-proyecto {
        height: 35vh;
    }

    section.background-terraza {
        height: 35vh;
        margin: 40px 0 0 0;
    }

    section.background-tranquilidad {
        height: 35vh;
    }
}




@media (min-width: 500px) and (max-width: 767px) {

    /*Background img*/
    section.background-intro {
        height: 50vh;
    }

    section.background-el-proyecto {
        height: 50vh;
    }

    section.background-terraza {
        height: 50vh;
        margin: 40px 0 0 0;
    }

    section.background-tranquilidad {
        height: 50vh;
    }
}



@media (min-width: 767px) and (max-width: 1199px) {

    /*Background img*/
    section.background-intro {
        height: 70vh;
    }

    section.background-el-proyecto {
        height: 70vh;
    }

    section.background-terraza {
        height: 80vh;
    }

    section.background-tranquilidad {
        height: 80vh;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {

    li.footer-item a {
        font-size: 12px;
        padding: 0 4px;
    }

    li.copyrigth {
        font-size: 10px;
    }
}

#myVideo {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 75vh;
}